Repository plone/plone.app.contenttypes, pull requests merged in 2018-03, with the labels that each got.

#455 title_or_id fix, layout setting fixes
  CHANGES.rst
  plone/app/contenttypes/browser/templates/listing.pt
  plone/app/contenttypes/browser/templates/listing_tabular.pt
  plone/app/contenttypes/migration/browser.py
  plone/app/contenttypes/migration/custom_migration.py
  plone/app/contenttypes/migration/dxmigration.py
  plone/app/contenttypes/migration/migration.py
  plone/app/contenttypes/migration/utils.py
  plone/app/contenttypes/tests/test_folder.py
Labels: 04 type: enhancement, 23 status: testing

#458 Do not encode query strings on internal link redirections
  CHANGES.rst
  plone/app/contenttypes/browser/link_redirect_view.py
  plone/app/contenttypes/tests/test_link.py
Labels: 23 status: testing, 32 needs: review, 99 tag: Plone 5.x

#459 Do not encode query strings on internal link redirections
  CHANGES.rst
  plone/app/contenttypes/browser/link_redirect_view.py
  plone/app/contenttypes/tests/test_link.py
Labels: 23 status: testing, 32 needs: review, 99 tag: Plone 4.3.x
